@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
header{
position: fixed;
height: 43.5px;
width: 100%;
top: 30px;
left: 0;
right: 0;
z-index: 2;
width: 1440px;
    .container{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        .en-logo{
            color: #333;
            background-color: #fff;
            padding: 13px;
            border-radius: 24px;
        }
        .logo{
            img{
                width: 101px;
                height: 35px;
            }
        }
        .navbar{

            nav{
                ul{
                    display: flex;
                    flex-direction: row;
                    gap: 45px;
                    li{
                        list-style: none;
                            a{
                            color: #fff;
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 21.47px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.section-1{
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 40%
      ),
      linear-gradient(0deg, rgba(157, 184, 218, 0.2), rgba(157, 184, 218, 0.2)),
      url(https://s3-alpha-sig.figma.com/img/7a7d/1dd1/098d2481fb0f847b6ba2c5d7bbe0db4b?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VmFriEqhVBHYrCSfHvGJAlBgmEs7gSbcsThzI8ScNWj~heVuTMVIB015eo3~~pkrKfBIlbch8YNEcZrjOF-UiWcYHbAO2BOz4xjr3MJmU4d4DvNgU1vsY5GTgBe70xH~g8AYao8ftYRCy5FsD6cshJ0jQnTcuNwuKdJbmapWjAUC1IxtHAiaiEF9YOa50g8H-Y60C4GQr42OGhF4foRzkP6hR115rFzVQGE0~FksaGE8ZOuID4ip6YF5M53R5rK6mc3QMONT9mvyaVZHlv3TdMmkJxzOKLGSJKgnyDZd0gV~R3OZqXvGaLflLIbIy8pj0vAC0TZsXuoPoQ64dqJjNQ__);
    background-size: cover;
    height: 100vh;
    width: 1440px;
    .container{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .items{
            text-align: center;
            h2{
                font-size: 80px;
                line-height: 80px;
                font-weight: 400px;
                font-family: "Bebas Neue", sans-serif;
                color: rgba(232, 237, 242, 0.72);
            }
            h3{
                font-size: 250px;
                line-height: 250px;
                font-family: "Bebas Neue", sans-serif;
            }
            h4{
                font-size: 64px;
                line-height: 64px;
                font-family: "Hanuman", serif;
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}