.section-3{
    width: 1440px;
    height: 1022px;
    background-image: 
    linear-gradient(
        360deg,
        rgba(216, 228, 233, 0) 0%,
        rgba(216, 228, 233, 0.9) 100%
      ),
      url(https://s3-alpha-sig.figma.com/img/56fe/900c/3373b978c26674d26d5c9d2dfec315ab?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lpTEZOx2kkDG-Ol0N1YneGInHjSvIjLi2jWln4t-1mpxx6DGre11D624t~9abcnIvdBV9bOidWA-~O~qmJgnBnM7wswFhJ8qKwIuJfLU6KWjXoc2faTJhhNBjLbvpqDEtn7Qj4nQPABaeZbYJb-YgRxSc7z5wljIxYEwjTAPSFiLQSHRuZLuw02UeHmuNSRqLN06ZKWukHghh8fzOYFpDIAJRUCzI7sAbZ3EM-zCp2m7zEFs0WhNBhJGrXIfGXcNccHWv2CBOCiQlotnUrVpVQppyZVkmNhaprybL31yiNOumfRbtkBN2~~X~fj97k7Pv0ai3NJMTODWWcFjr6POPA__);
    background-size: cover;
    height: 902px;
    .container{
        .map-pin{
            img{
            width: 34px;
            height: 34px;
            margin-left: 749px;

            }
        }
        .loc{
            display: flex;
            flex-direction: column;
            align-items: center;
            .text-header{
                height: 84px;
                width: 1442px;
                margin-top: 60px;
                color: #333;
                text-align: center;
                h1{
                    font-size: 42px;
                    line-height: 50.11px;
                }
                p{
                    font-size: 20px;
                    line-height: 23.54px;
                    font-weight: 500;
                    color: rgba(24, 24, 27, 0.7)
                }
            }
            .loc-container{
                width: 1200px;
                height: 640px;
                margin-top: 64px;
                display: flex;
                flex-direction: row;
                
                .left{
                    width: 513px;
                    color: #333;
                    .day-container{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                              
                    .item-1 {
                        margin: 0px 0px 10px 0;
                        height: 112px;
                        background-color: rgba(238, 233, 217, 1);
                        border-radius: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                       position: relative;
                       img{
    
                        position: absolute;
                        top: 50.38px;
                        left: 809px;
                        width: 245px;
                        height: 245px;
                        display: none;
                       }
                        .text-div-1{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .location-info{
                                margin-right: 50px;
                                .location-details{
                                    display: flex;
                                    gap: 10px;
                                    margin-top: 5px;
                                    img{
                                        width: 24px;
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            border: 4px solid white;
                            img{
                                display: block;
                            }
                        }
                    }
                    .item-2{
                        margin: 10px 0;
                        height: 112px;
                        background-color: rgba(139, 184, 193, 0.8);
                        border-radius: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        img{
                            position: absolute;
                            bottom: 60.38px;
                            left: 609px;
                            width: 245px;
                            height: 245px;
                            display: none;
                        }
                        .text-div-2{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .day-container{
                                margin-left: 5px;
                            }
                            .location-info{
                                .location-details{
                                    display: flex;
                                    gap: 10px;
                                    margin-top: 5px;
                                    img{
                                        width: 24px;
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            border: 4px solid white;
                            img{
                                display: block;
                            }
                        }
                    }
                    .item-3{
                        margin: 10px 0;
                        height: 112px;
                        background-color: rgba(170, 216, 215, 0.8);
                        border-radius: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        img{
                            position: absolute;
                            bottom: 60.38px;
                            left: 609px;
                            width: 245px;
                            height: 245px;
                            display: none;
                        }
                        .text-div-3{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .location-info{
                                margin-right: 100px;
                                .location-details{
                                    display: flex;
                                    gap: 10px;
                                    margin-top: 5px;
                                    img{
                                        width: 24px;
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            border: 4px solid white;
                            img{
                                display: block;
                            }
                        }
                    }
                    .item-4{
                        position: relative;
                        margin: 10px 0 ;
                        height: 112px;
                        background-color: rgba(139, 192, 189, 0.8);
                        border-radius: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        img{
                            position: absolute;
                            bottom: 60.38px;
                            left: 609px;
                            width: 245px;
                            height: 245px;
                            display: none;
                        }
                        .text-div-4{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .location-info{
                                margin-right: 53px;
                                .location-details{
                                    display: flex;
                                    gap: 10px;
                                    margin-top: 5px;
                                    img{
                                        width: 24px;
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            border: 4px solid white;
                            img{
                                display: block;
                            }
                        }
                    }
                    .item-5{
                        position: relative;
                        margin: 10px 0;
                        height: 112px;
                        background-color: rgba(151, 204, 224, 0.8);
                        border-radius: 120px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        img{
                            position: absolute;
                            bottom: 60.38px;
                            left: 609px;
                            width: 245px;
                            height: 245px;
                            display: none;
                        }
                        .text-div-5{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .location-info{
                                margin-right: 135px;
                                .location-details{
                                    display: flex;
                                    gap: 10px;
                                    margin-top: 5px;
                                    img{
                                        width: 24px;
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            border: 4px solid white;
                            img{
                                display: block;
                            }
                        }
                    }
                }
                .right{

                    .img-2 {
                        position: absolute;
                        left: 154px;
                        top: 20px;
                        display: none;
                    }
                    .img-3{
                        position: absolute;
                        left: 30px;
                        top: 103.38px;
                        display: none;
                    }
                    .img-4{
                        position: absolute;
                        left: -21px;
                        top: -62.62px;
                        display: none;
                    }
                    .img-5{
                        position: absolute;
                        left: 146px;
                        top: -58.62px;
                        display: none;
                    }
                }
            }
        }
    }
}

